# Node / Next.js
node_modules
.next
.turbo
.vercel
out

# Contentlayer
.contentlayer

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea
*.swp
*.swo
*.log

package-lock.json
pnpm-lock.yaml
tsconfig.tsbuildinfo
